<div class="comment">
    {{#each comments}}
    <section class="comment">
        <div class="meta">
            {{this.User.username}} on {{format this.date_created}}

        </div>
        <div class="text">
            {{this.content}}
        </div>

    </section>
    {{/each}}
</div>