<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/5.3.1/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>TechBlog</title>
</head>

<body>

    <header>
        <h1 class="has-text-black px-3 has-text-weight-bold">TechBlog</h1>
        <h3>Sharing</h3>
        <nav>
            {{#if loggedIn}}
            <a href="/homepage" class="navbar-item is-hoverable pt-1"><i class="fa fa-home"></i> Home</a>
            <a href="/post" class="navbar-item is-hoverable pt-1"><i class="fas fa-comments"></i> New Post</a>
            <button id="logout" class="button is-danger"><i class="fas fa-sign-out-alt"></i> Logout</button>
            {{else}}
            <a href="/login" class="button is-primary"><i class="fas fa-sign-in-alt"></i> Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
        <div class="display">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/public/js/logout.js"></script>
    {{/if}}

</body>

</html>