<div class="comments">

    {{#each comment}}
    <section class="comment">
        <div class="meta">
            {{User.username}} on {{ this.data_created}}
        </div>
        <div class="text">
            {{this.content}}
        </div>
    </section>
    {{/each}}
</div>