<section>
    <a href="./homepage" class="is-pulled-right">Return to Home Page</a>
    <h2 class="title">What would you like to write about?</h2>
    <hr>


    <form action="" class="new-post-form" id="new-post-form">

        <div>
            <label for="post-title"> Topic</label>
            <input type="text" class="input" id="post-title" name="post-title" placeholder="insert comment title here">
        </div>
        <div>
            <label for="post-content"> Content</label>
            <input type="text" class="input" id="post-content" name="post-content" placeholder="insert comment content">
        </div>

        <button type="submit" id="submit" class=" button is-primary is-pulled-right" href="../homepage">Submit</button>
    </form>
</section>


<script src="../public/js/create-post.js"></script>